* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

:root {
  --orange: #ff9900;
}

body {
  height: 100vh;
  font-family: "Inter", "Open Sans";
  text-align: center;
  background-color: #ffffff;
}

span,
a {
  color: var(--orange);
}

/* se quiser pode-se colocar o display flex para tentar alinhar melhor */
main.content {
  width: 100%;
  max-width: 37rem /*592px*/;
  /* height: 579px; */
}
main.content img {
  margin-bottom: 72px;
}

main.content h1 {
  /*this specificity is 12(element(1) + class(10) + element(1), além de dar peso serve para que eu altere um elemento especifico ao invés de todos */
  font-family: "Inter";
  font-size: 3.1rem;
  line-height: 56px;
  font-weight: 400; /* pode se colocar por exemplo 'normal'*/
  margin-bottom: 32px;
}

main.content h1 span {
  font-weight: 700;
}

main.content .content-text p {
  margin-bottom: 34px;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 28px; /*height line(espaçamento entre uma linha e outra, distancia de uma para outra) */
  text-align: center;
  color: #7d7987;
}

footer {
  width: 100%;
  max-width: 37rem;
}

footer .social-media {
  text-align: center;
}
/* a + a <= pode se fazer dessa forma, - dentro de tal elemento, pegue o "A" que tem anterior a ele outro "A" ou seja nesse caso é lido de trás para frente footer a <- a (dentro do footer pegue o elemento que anterior a ele tem um "A" e nesse caso é o segundo "A"
a + a {
  margin-left: 30px  só adiciona ao segundo a
}

*/

.social-media a {
  margin-top: 8px;

  margin-left: 30px;
  margin-right: 30px;
  font-size: 14px;
  line-height: 28px;
  text-decoration: none;
}

.line {
  height: 0px;

  border: solid 1px #eceff2;
  margin-top: 72px;
  width: 568px;
}

#balls {
  /* text-align: end;
  display: block;
  margin-top: -50px; */
  position: fixed;
  bottom: 0px;
  right: 0px;
  /* position fixed: deixa um ponto especifico em outro contexto fixo na tela sendo possivel sempre ver ele, o absolute fica acima da tela em outro contexto, podendo adquirir qualquer posição */
}

/* max: 700px para baixo, até 700px, ja o min-width seria do 768 pra cima ou seja quando atingir o mínimo de 768> ele começa ele muda(na sua largura minima>)  */
@media (max-width: 768px) {
  main.content {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
  }

  .balls img {
    display: none;
  }

  .line {
    border: solid 1px #eceff2;
    margin-top: 68px;
    max-width: 23rem;
    height: 0px;
  }


 
}

/* disclaimer's
* para que mais de um seletor receba um atributo
* usamos a seguinte configuração a,p, span {}
* hex 0 a F em pares de 2 dois para o red, blue, green (6 ao todo) 0 cor preto FF branco absoluto exemple: #FF0000(Red)
* line 27: entra o conceito de cascata, ou seja um elemento dentro do outro element -> element

* algumas tags como a tem um comportamento inline(a tag tem comportamento de palavra, se comportando como um caractere, esse é o mesmo esquema para se colocar palavras para o que o usuário veja)

* alinhar ao meio além dos meios tradicionais que são o flex temos por meio do margin, se colocar auto ele tentará alinha ao meio automaticamente a partir do espaço livre

* line 65: pegue um A que anterior a ele tenha um elemento "especifico" que no caso é um A nesse caso se ler da direita para esquerda (pode valer para mais de um elemento contando q ele tenha o elemento especifico anterior a ele)

*/
